<div class="landing landing-container">
  <div class="landing-item {{ darkMode | async }}">
    <div class="landing-item-location">
      <p>{{ weather.city }}{{ (weather.country | transformToISO) || "" }}</p>
    </div>
    <div class="landing-item-time">
      {{ time() | date: "EEEE, HH:mm:ss" }}
    </div>
    <div class="landing-item-img">
      <span>{{ weather.temperatureC | number: "1.0-0" }} &#186;C</span
      ><img [src]="weather.icon" [alt]="weather.alt" />
    </div>
    <app-landing-navigation
      [location]="weather.city + '%' + weather.country"
    ></app-landing-navigation>
  </div>
</div>
